body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  text-align: center;
  {% if config.background_selected == 'image' %}
  background-image: url("{{ url_for('slideshow.background_image')}}")
  {% else %}
  background-color: {{ config.background_color }};
  {% endif %}
}

.mySlides{
  margin: 2em 0;
}

.mySlides.mySlides_txt{
  background-color: rgba(255,255,255,0.8);
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.mySlides .title{
  font-size: {{config.title_size}}pt;
}

.mySlides .txtcontent{
  margin-top: 1em;
  font-size: {{config.description_size}}pt;
}

.mySlides img, .mySlides video{
  height: 100%;
  width: auto;
  max-width: calc(100% - 4em);
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.hidden{
  display: none;
}


.text_top{
  bottom: 2.5em;
  position: absolute;
  left: 50%;
  background-color: rgba(255,255,255,0.8);
  padding: 0.2em;
}